<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EthnoBotanicals Ireland</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
</head>
    <body style="padding-top:unset; padding-bottom:unset">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" style="top:0;display:flex">

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">Ethnobotanicals Ireland</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Products", "Index", "Categories", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Producers <span class="sr-only">(current)</span></a>
                    </li>


                </ul>

                @using (Html.BeginForm("Search", "Categories", new { @class = "form-inline!important;", role = "form" }))
                {<form class="form-inline!important">

                        <input class="form-control " type="text" name="searchString" placeholder="Search">
                        <button type="submit" class="btn btn-outline-success">Submit</button>

                    </form>
                }



            </div>
            @Html.Partial("_LoginPartial")

        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - EthnoBotanicals Ireland</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
