<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EthnoBotanicals Ireland</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <style>
        .control-label .text-info {
            display: inline-block;
        }
        .default {
            cursor: default;
        }
    </style>
</head>
<body style="padding-top:unset; padding-bottom:unset" class="default">




    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      @Html.ActionLink("EthnoBotanicals Ireland", "Index", "Home", new object { }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "nav-link text-success" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Products", "Index", "Categories", new object { }, new { @class = "nav-link text-success" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Producers", "ProducerList", "Categories", new object { }, new { @class = "nav-link text-info" })
                </li>
                <li class="nav-item">
                    @using (Html.BeginForm("Search", "Categories", new { @class = "form-inline" }))
                    {
                        <div class="form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <input class="form-control " type="text" name="searchString" placeholder="Find Products">
                                <button type="submit" class="btn btn-success mb-2">Search</button>
                            </div>
                        </div>

                    }
                    @{
                        int cartCount = 0;
                        try { cartCount = (int)Session["CartItemCount"]; }
                        catch (Exception e) { }
                    }

            </ul>
            @Html.Partial("_LoginPartial")

        </div>

    </nav>






    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EthnoBotanicals Ireland</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script>
    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
    }

    $(window).scroll(function(e){
    parallax();
    });
    </script>
</body>
</html>
