@model EthnoBot.Models.EditTagViewModel

@{
    ViewBag.Title = "Create Tag";

    List<SelectListItem> categoryItems = new List<SelectListItem>();
    List<SelectListItem> typeItems = new List<SelectListItem>();
    typeItems.Add(new SelectListItem { Value = "Mushroom", Text = "Mushroom" });
    typeItems.Add(new SelectListItem { Value = "Plant", Text = "Plant" });
    foreach (var item in Model.TagCategories) {
        categoryItems.Add(new SelectListItem { Value = item.TagCategoryId.Trim(), Text = item.Name });
    }
    }

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Create New Tag</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     <div class="form-group">
        <label class="text-info" for="Input">Tag Type</label><br />
        @Html.DropDownListFor(model => model.Tag.TagType, typeItems,  new { @class = "form-control text-default", @style = "min-height:35px;", @id = "countryInput" })
        @Html.ValidationMessageFor(model => model.Tag.TagType, "", new { @class = "text-danger" })
    </div>  
    <div class="form-group">
        <label class="text-info" for="Input">Tag Category</label><br />
        @Html.DropDownListFor(model => model.Tag.TagCategoryId, categoryItems,  new { @class = "form-control text-default", @style = "min-height:35px;", @id = "countryInput" })
        @Html.ValidationMessageFor(model => model.Tag.TagCategoryId, "", new { @class = "text-danger" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Tag.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tag.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tag.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Tag.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tag.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tag.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "TagIndex")
</div>
