@model EthnoBot.Models.FeatureSearchItemViewModel

@{
    string id = Model.FeatureSearchItem.FeatureSearchItemId;
    ViewBag.Title = "Edit FeatureSearchItem";
    List<SelectListItem> typeItems = new List<SelectListItem>();
    List<SelectListItem> productItems = new List<SelectListItem>();
    typeItems.Add(new SelectListItem { Value = "SearchText", Text = "Search Text" });
    typeItems.Add(new SelectListItem { Value = "DirectLink", Text = "Link" });

    foreach (var item in Model.Products)
    {
        productItems.Add(new SelectListItem { Value = "/Search/ProductAndListings/" + item.ProductId, Text = item.Title });
    }


}

<h2 class="text-center">Edit Feature Search Item</h2>
<hr />

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="container form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.FeatureSearchItem.FeatureSearchItemId)
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="text-info" for="Input">Displayed Text</label><br />

                @Html.EditorFor(model => model.FeatureSearchItem.DisplayedText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FeatureSearchItem.DisplayedText, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <label class="text-info" for="Input">Feature Search Item Type</label><br />
                @Html.DropDownListFor(model => model.FeatureSearchItem.Type, typeItems, null, new { @class = "form-control text-default", @style = "min-height:35px;", @id = "countryInput" })
                @Html.ValidationMessageFor(model => model.FeatureSearchItem.Type, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col">

            <div class="form-group">
                <label class="text-info" for="Input">Feature Search Text (only if Type is "Search Text")</label><br />

                @Html.EditorFor(model => model.FeatureSearchItem.SearchText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FeatureSearchItem.SearchText, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label class="text-info" for="Input">Feature Search Item Product (only if Type is "Link")</label><br />
                @Html.DropDownListFor(model => model.FeatureSearchItem.LinkText, productItems, null, new { @class = "form-control text-default", @style = "min-height:35px;", @id = "countryInput" })
                @Html.ValidationMessageFor(model => model.FeatureSearchItem.LinkText, "", new { @class = "text-danger" })
            </div>
            </div>
            <div class="col">
                <span class="border">
                    <img class="card-img-top img-fluid" src="@Model.FeatureSearchItem.ImagePath" alt="@Model.FeatureSearchItem.FeatureSearchItemId" style="width:200px;height:120px">
                    <br />
                    @Html.ActionLink("Edit Image", "ChangeFeatureSearchItemPicture", new { id })
                </span>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <input type="submit" value="Save Changes" class="btn btn-default" />
                    </div>
                </div>
          
            </div>
        </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "FeatureSearchItemIndex")
</div>
