@model EthnoBot.Models.TagCategory

@{
    ViewBag.Title = "Edit Tag Category";
    List<SelectListItem> typeItems = new List<SelectListItem>();
    typeItems.Add(new SelectListItem { Value = "Mushroom", Text = "Mushroom" });
    typeItems.Add(new SelectListItem { Value = "Plant", Text = "Plant" });
}

<h2 class="text-center">Edit Tag Catgegory: @Model.Name</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TagCategoryId)

    <div class="form-group">
        <label class="text-info" for="Input">Tag Category Name</label><br />
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "cityInput" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <label class="text-info" for="Input">Tag Category Description</label><br />
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "cityInput" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label class="text-info" for="Input">Tag Category Type</label><br />
        @Html.DropDownListFor(model => model.TagType, typeItems, Model.TagType, new { @class = "form-control text-default", @style = "min-height:35px;", @id = "countryInput" })
        @Html.ValidationMessageFor(model => model.TagType, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "TagCategoryIndex")
</div>
