@model EthnoBot.Models.ModifyProductViewModel
@{
    ViewBag.Title = "EditProduct";
}

<h2 class="text-lg-center">Edit Product: @Model.Product.Title</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="text-info" for="nameInput">Product Name</label>
                        @Html.EditorFor(model => model.Product.Title, new { htmlAttributes = new { @id = "FirstName", @style = "cursor: default !important;", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="text-info" for="nameInput">Product Description</label>
                        @Html.EditorFor(model => model.Product.LatinName, new { htmlAttributes = new { @id = "FirstName", @style = "cursor: default !important;", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.LatinName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" value="Save Changes" id="Save" onclick="saveProfileChanges" class="btn btn-info float-right" />
}
<br />
<hr />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>

                <th>Tag Name</th>
                <th>Tag Description</th>
                <th>Action</th>
            </tr>
        </thead>

        @foreach (var item in Model.CurrentProductTags)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>

                    @Html.ActionLink("Tag Details", "TagDetails", "Admin", new { tagId = item.TagId.TrimEnd() }, new { @class = "text-info", }) |
                    @Html.ActionLink("Remove Tag", "RemoveTagFromProduct", "Admin", new { tagId = item.TagId.TrimEnd(), productId = Model.Product.ProductId }, new { @class = "text-danger", })

                </td>
            </tr>
        }

    </table>
</div>
<hr /><br />
      <div class="row">
          <div class="col">
              <div class="form-group has-search">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-6">
                              <div id="searchInput" style="padding: 3px;border: solid 1px #E4E4E4;border-radius:6px;background-color: #fff;">
                                  <div class="input-group col-md-12">
                                      <input id="searchInput_searchPage" placeholder="View or Add Tags.." type="text" class="form-control input-lg" style="border: 0;box-shadow: none;" />
                                      <span class="input-group-btn">
                                          <button class="btn btn-success btn-lg" type="button" id="searchButton" style="margin: 2px 0 0 0;background:none;box-shadow: none;border: 0;color: #666666;padding: 0 8px 0 10px;border-left: solid 1px #ccc;">
                                              <i class="glyphicon glyphicon-search" style="font-size: 23px;"></i>
                                          </button>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>

                      <th>Tag Name</th>
                      <th>Tag Description</th>
                      <th>Action</th>
                  </tr>
              </thead>

              <tbody id="resultsTable"></tbody>
          </table>
          </div>
              <script language="JavaScript" type="text/javascript" src="/Scripts/jquery-3.3.1.min.js"></script>
              <script>

                  $(document).ready(function () {
                      var searchText = $("#searchInput_searchPage").val();


                      var arrayString = "";

                      debugger
                      $.ajax({
                          type: "POST",


                          url: "/Admin/PerformTagSearch?SearchText=" + searchText,
                          contentType: "html",
                          success: function (response) {

                              $("#resultsTable").html(response);
                          }
                      });


                      $("#searchInput_searchPage").keyup(function () {
                          var searchText = $("#searchInput_searchPage").val();
                        
                         
                          var arrayString = "";

                          debugger
                          $.ajax({
                              type: "POST",


                              url: "/Admin/PerformTagSearch?SearchText=" + searchText,
                              contentType: "html",
                              success: function (response) {

                                  $("#resultsTable").html(response);
                              }
                          });
                      });
                  });





              </script>
