@model IEnumerable<EthnoBot.Models.ListingTag>

@{
    ViewBag.Title = "Index";
}

<h2>Listing Tag Index</h2>

<p>
    @Html.ActionLink("Create New Tag", "CreateListingTag")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListingTagType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListingTagCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ListingTagType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListingTagCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditListingTag", new { id=item.ListingTagId }) |
            @Html.ActionLink("Details", "ListingTagDetails", new { id=item.ListingTagId }) |
            @Html.ActionLink("Delete", "DeleteListingTag", new { id=item.ListingTagId })
        </td>
    </tr>
}

</table>
