@model IEnumerable<EthnoBot.Models.Product>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>    
            @Html.DisplayFor(modelItem => item.LatinName)
        </td>
       
        <td>
            @Html.ActionLink("Edit Product", "EditProduct", "Admin", new { id = item.ProductId.TrimEnd() }, new { @class = "text-info", }) |
            @Html.ActionLink("Product Details", "ProductDetails", "Admin", new { id = item.ProductId.TrimEnd() }, new { @class = "text-info", }) |
            @Html.ActionLink("Delete Product", "DeleteProduct", "Admin", new { id = item.ProductId.TrimEnd() }, new { @class = "text-info", })
        </td>
    </tr>
}

</table>
