@model IEnumerable<EthnoBot.Models.Product>

<h2 class="text-center">Product Admin</h2>

<hr />
<p class="text-center">
    @Html.ActionLink("Create New Product", "CreateProduct", null, new { @class = "btn btn-primary btn-large" })
</p>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>

                <th>Product Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.ActionLink("Go To Product", "EditProduct", "Admin", new { id = item.ProductId.TrimEnd() }, new { @class = "btn btn-success btn-large float-left" })  |

                    @Html.ActionLink("Delete Product", "DeleteProduct", "Admin", new { id = item.ProductId.TrimEnd() }, new { @class = "btn btn-danger btn-large" })
                </td>
            </tr>
        }

    </table>
</div>


</div>

