@model IEnumerable<EthnoBot.Models.Tag>

@{
    ViewBag.Title = "Tag Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateTag")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TagCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TagCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit Tag", "EditTag", new { id=item.TagId }) |
            @Html.ActionLink("Tag Details", "TagDetails", new { id=item.TagId }) |
            @Html.ActionLink("Delete TaG", "DeleteTag", new { id=item.TagId })
        </td>
    </tr>
}

</table>
