@model EthnoBot.Models.TagAdminViewModel

@{
    ViewBag.Title = "Tag Admin";
}

<h2 class="text-center">Tag Admin</h2>
<hr />
<p class="text-center">
    @Html.ActionLink("Create New Tag", "CreateTag",null, new { @class = "btn btn-info btn-large" })
</p>
<table class="table">
    <tr>
        <th>
         Tag Category
        </th>
        <th>
         Tag Name
        </th>
        <th>
         Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Tags)
{
    <tr>
        <td>
            @{
                foreach (var i in Model.TagCategories)
                {
                    if (i.TagCategoryId.Contains(item.TagCategoryId))
                    {
                        @Html.ActionLink(i.Name, "EditTagCategory", "Admin", new { tagcatid = i.TagCategoryId.TrimEnd() }, new { @class ="text-success" }) 
                        break;
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <p class="float-right">|</p>
            @Html.ActionLink("Go To Tag", "EditTag", new { id = item.TagId }, new { @class = "btn btn-success btn-large float-left" }) |

            @Html.ActionLink("Delete Tag", "DeleteTag", new { id = item.TagId }, new { @class = "btn btn-danger btn-large float-right" })
        </td>
    </tr>
}

</table>
