@model EthnoBot.Models.RegisterViewModel
@{
    ViewBag.Title = "Create a new account";
    string errormsg = (string)ViewData["LoginErrorMessage"];
}


<h2 class="text-info"><b>@ViewBag.Title.</b></h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
 

<form class="align-self-md-center">
    @{
        if (errormsg != null)
        {
            <div class="alert alert-dismissible alert-danger" role="alert">@errormsg</div>
        }
    }
    <div class="form-group">
        <label class="text-info" for="firstNameInput">First Name</label>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "firstNameInput" })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div> <div class="form-group">
        <label class="text-info" for="lastNameInput">Last Name</label>
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "lastNameInput" })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div> <div class="form-group">
        <label class="text-info" for="emailInput">Email address</label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "emailInput" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label class="text-info" for="passwordInput">Password</label>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "passwordInput" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label class="text-info" for="confirmPasswordInput">Confirm Password</label>
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "confirmPasswordInput" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <input type="submit" class="btn btn-info" value="Register" />
</form>
    <br />
    <p>@Html.ActionLink("Register as a Producer", "RegisterProducer", "Account", new { @class = "text-info"})</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
