@model IEnumerable<EthnoBot.Models.ListingViewModel>
@{
    ViewBag.Title = "MyListings";
}


<br />
<br />
<nav class="nav nav-tabs nav-fill">
    <a class="nav-item nav-link text-success " href="@Url.Action("SellerIndex", "Manage")"><h3><span class="glyphicon glyphicon-home"></span> Profile Details</h3></a>
    <a class="nav-item nav-link text-danger active" href="#"><h3><span class="glyphicon glyphicon-leaf"></span> My Listings</h3></a>
    <a class="nav-item nav-link text-info" href="@Url.Action("MyOrders", "Manage")"><h3><span class="glyphicon glyphicon-th-list"></span> Pending Orders</h3></a>
    <a class="nav-item nav-link text-muted" href="#"><h3><span class="glyphicon glyphicon-envelope"></span> Messages</h3> </a>
</nav>


<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-muted text-center">Product Listings</h3>

        </div>
    </div>
    <br />
    <ul class="list-group">
        @foreach (var item in Model)
        {

            <li class="list-group-item">

                <div class="row">
                    <div class="col-xl-3">@Html.ActionLink(item.Product.Title, "ProductAndListings", "Categories", new { id = item.Product.ProductId }, new { @class = "text-info", })</div>
                    <div class="col-xl-3">
                        <p class="text-muted">€@item.UnitPriceKG per 1 kg Unit</p>
                    </div>
                    <div class="col-xl-3">
                        <p class="text-muted">@item.UnitsKG Kg Units</p>
                    </div>
                    <div class="col-xl-1 offset-xl-0"><button class="btn btn-info float-right" type="button" data-toggle="modal" onclick="editItemPopup('@item.Listing.ListingId','@item.Seller.SellerId','@item.Seller.FirstName+ @item.Seller.LastName','@item.UnitPriceKG','@item.Product.ProductId','@item.Product.Title','@item.UnitsKG')" data-target="#Modal">Edit</button></div>
                    <div class="col-xl-1"><button class="btn btn-info" type="button" onclick="deleteItem('@item.Listing.ListingId')">Delete</button></div>
                </div>
            </li>
        }
    </ul>


    @Html.ActionLink("Add new Listing", "AddListing", new { @class = "btn btn-info btn-lg", @role = "button" })
</div>







