@model IEnumerable<EthnoBot.Models.Product>

@{
    string categoryName = (string)ViewData["CategoryName"];

}
@Html.ActionLink("<-- Back to Categories", "Index", "Categories", new { @class = "text-success" })


<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>



<div class="container">
    <div class="jumbotron-fluid">
        <br />  <h2 class="text-center text-info"><b>@categoryName</b></h2><br /><br />
    </div>
    <div class="container">


        <div class="container">
            <div class="card-deck">
                @foreach (var item in Model)
                {
                    <row>
                        <div class="card border-info mb-4">
                            <span class="border border-info">
                                <img class="card-img-top img-fluid" src="@item.ImagePath" alt="Card image cap" style="width:300px;height:180px">
                            </span>

                                <div class="card-body ">
                                    <h4 class="card-title text-info"><b>@item.Title</b></h4>
                                    <p class="card-text text-info" style="width:250px"><b><i>"@item.Description"</i></b></p>
                                    <p class="card-text text-info" style="width:250px"><i>@item.Family</i></p>
                                </div>
                           
                            <div class="card-body">
                               

                                    @Html.ActionLink("View Product", "ProductAndListings", new { productId = item.ProductId }, new { @class = "btn btn-info btn-lg", @role = "button" })
                            
                                </div>
                            </div>
                    </row>

                }


            </div>

        </div>
        </div>
    </div>
