@model IEnumerable<EthnoBot.Models.Category>

@{
    /**/

    ViewBag.Title = "Products";
    string imagePath = (string)ViewData["ImagePath"];
}



<div style="background-color:black"></div>
<h2>Product Categories</h2>




<div class="container fluid" style="background-color:cadetblue">

    @foreach (var item in Model)
    {


        <div class="jumbotron">
            <h1 class="display-4">@item.Name</h1>
            <p class="lead">@item.Description</p>
            <hr class="my-4">
            <img alt="Widget View" src="@Url.Content("~/Images/Categories/" + @item.ImagePath)">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            @Html.ActionLink("View Items", "ListProducts", new { id = item.CategoryId }, new { @class = "btn btn-primary btn-lg", @role = "button" })
        </div>

    }
</div>

