@model IEnumerable<EthnoBot.Models.Product>

@{
    string categoryName = (string)ViewData["CategoryName"];
    ViewBag.Title = categoryName;
}

<h2>@categoryName</h2>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>


<div style="background-color:black"></div>
<h2>Product Categories</h2>



<div class="container fluid" style="background-color:cadetblue">
    @foreach (var item in Model)
    {
        <div class="jumbotron">
            <h1 class="display-4">@item.Title</h1>
            <p class="lead">@item.LatinName</p>
            <hr class="my-4">
            <img alt="Widget View" src="@Url.Content("~/Images/Products/" + @item.ImagePath)">
            <p>@item.Family</p>
            @Html.ActionLink("View Product", "ProductAndListings", new { id = item.ProductId }, new { @class = "btn btn-primary btn-lg", @role = "button" })
        </div>

    }
    </div>