@model EthnoBot.Models.SearchResultsViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>
<p>@ViewData["parameters"]</p>


<h2>Products</h2>
<div class="container">
    <div class="card-deck">
        @foreach (var item in Model.products)
        {
            <row>
                <div class="card border-success mb-4">
                    <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Products/" + @item.ImagePath)" alt="Card image cap" style="width:300px;height:180px">
                    <div class="card-body ">
                        <h5 class="card-title text-success">@item.Title</h5>
                        <p class="card-text text-success" style="width:250px">Latin Name: @item.LatinName</p>
                        <p class="card-text text-success" style="width:250px">Plant Family: @item.Family</p>

                    </div>
                    <div class="card-body">
                        @Html.ActionLink("View Product", "ListProducts", new { id = item.CategoryId }, new { @class = "btn btn-outline-success btn-lg", @role = "button" })
                    </div>
                </div>
            </row>

        }


    </div>

</div>

<h2>Categories</h2>
<div class="container">
    <div class="card-deck">
        @foreach (var item in Model.categories)
        {
            <row>
                <div class="card border-success mb-4">
                    <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Categories/" + @item.ImagePath)" alt="Card image cap" style="width:300px;height:180px">
                    <div class="card-body ">
                        <h5 class="card-title text-success">@item.Name</h5>
                        <p class="card-text text-success" style="width:250px;height:50px">@item.Description</p>
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("View Items", "ListProducts", new { id = item.CategoryId }, new { @class = "btn btn-outline-success btn-lg", @role = "button" })
                    </div>
                </div>
            </row>

        }


    </div>

</div>
<h2>Producers</h2>
<div class="container">
    <div class="card-deck">
        @foreach (var item in Model.producers)
        {
            <row>
                <div class="card border-info mb-4">
                    <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Producers/" + @item.ImagePath)" alt="@item.Name" style="width:300px;height:180px">
                    <div class="card-body ">
                        <h5 class="card-title text-info">@item.Name</h5>
                        <p class="card-text text-info" style="width:250px;height:100px">@item.Description</p>
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("View Producer", "Index", "Categories" , new { @class = "btn btn-outline-info btn-lg", @role = "button" })
                    </div>
                </div>
            </row>

        }


    </div>

</div>