@model EthnoBot.Models.SearchResultsViewModel
@{
    ViewBag.Title = "Search";
}

<h3 class="text-center">Search Results for <i>"@ViewData["parameters"]"</i>:</h3>
<br/>
<a class="text-info text-center align-self-center" href="#Products">Go to Products</a><br />
<a class="text-success text-center align-self-center" href="#Categories">Go to Categories</a><br/>
<a class="text-info text-center align-self-center" href="#Producers">Go to Producers</a><br />

<div class="container">
    <a name="Products"></a>
    <div class="jumbotron-fluid">
        <br />  <h4 class="text-center text-info">Results in<b> Products</b></h4><br /><br />
    </div>

    <div class="container">
        <div class="card-deck">
            @foreach (var item in Model.products)
            {
                <row>
                    <div class="card border-info mb-4">
                        <span class="border border-info">
                            <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Products/" + @item.ImagePath)" alt="Card image cap" style="width:300px;height:180px">
                        </span>

                        <div class="card-body ">
                            <h4 class="card-title text-info"><b>@item.Title</b></h4>
                            <p class="card-text text-info" style="width:250px"><b><i>"@item.LatinName"</i></b></p>
                            <p class="card-text text-info" style="width:250px"><i>@item.Family</i></p>
                        </div>

                        <div class="card-body">


                            @Html.ActionLink("View Product", "ProductAndListings", new { id = item.ProductId }, new { @class = "btn btn-info btn-lg", @role = "button" })

                        </div>
                    </div>
                </row>

            }


        </div>

    </div>
</div>
<div class="container"><a name="Categories"></a>
    <div class="jumbotron-fluid">
        <br />  <h4 name="Categories" class="text-center text-success"><b>Results in<b> Categories</b></b></h4><br /><br />
    </div>
    
    <div class="container">


        <div class="card-deck">
            @foreach (var item in Model.categories)
            {
                <row>
                    <div class="card border-success mb-4">
                        <span class="border border-success">
                            <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Categories/" + @item.ImagePath)" alt="Card image cap" style="width:300px;height:180px">
                        </span>
                        <div class="card-body ">
                            <h5 class="card-title text-success"><b>@item.Name</b></h5>
                            <p class="card-text text-success" style="width:250px;height:50px">@item.Description</p>
                        </div>
                        <div class="card-body">
                            @Html.ActionLink("View Items", "ListProducts", new { id = item.CategoryId }, new { @class = "btn btn-success btn-lg", @role = "button" })
                        </div>
                    </div>
                </row>

            }


        </div>
    </div>

</div>
<div class="container">
    <a name="Producers"></a>
    <div class="jumbotron-fluid">
        <br />  <h4 name="Producers" class="text-center text-info">Results in<b> Producers</b></h4><br /><br />
    </div>

    <div class="container">


        <div class="card-deck">
            @foreach (var item in Model.producers)
            {
                <row>
                    <div class="card border-info mb-4">
                        <span class="border border-info">
                            <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Producers/" + @item.ImagePath)" alt="@item.Name" style="width:300px;height:180px">
                        </span>
                        <div class="card-body ">
                            <h5 class="card-title text-info"><b>@item.Name</b></h5>
                            <p class="card-text text-info" style="width:250px;height:100px">@item.Description</p>
                        </div>

                        <div class="card-body">
                            @Html.ActionLink("View Producer", "ProducerAndListings", new { id = item.ProducerId }, new { @class = "btn btn-info btn-lg", @role = "button" })
                        </div>

                    </div>
                </row>

            }


        </div>

    </div>
</div>


     