@model EthnoBot.Models.UserIndexViewModel
@{
    ViewBag.Title = "Manage your account";
}
<p class="text-info">@ViewBag.StatusMessage</p>


    @using (Html.BeginForm("Index", "Manage", FormMethod.Post))
    {<form class="align-self-md-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-muted">Change your Account Details</h1>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="text-info">First Name</h3>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control text-default" }, @maxlength = "40", @minlength = "1", @id = "firstNameInput" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col">
                        <h3 class="text-info">Last Name</h3>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control text-default" }, @maxlength = "40", @minlength = "1", @id = "lastNameInput" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="text-info">Email Address</h3>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "emailInput" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col">
                        <h3 class="text-info">Address Line 1</h3>
                        @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "address1Input" })
                        @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="text-info">Address Line 2</h3>
                        @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "address2Input" })
                        @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })

                    </div>
                    <div class="col">
                        <h3 class="text-info">Address Line 3</h3>
                        @Html.EditorFor(model => model.AddressLine3, new { htmlAttributes = new { @class = "form-control text-default" }, @id = "address3Input" })
                        @Html.ValidationMessageFor(model => model.AddressLine3, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>




    <hr />
             <div class="container align-content-end align-self-end">
                <div class="row">
                    @if (Model.HasPassword)
                    {
                        <div class="col">
                            @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "text-muted" })
                        </div>
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    <div class="col"><button type="submit" class="btn btn-info float-right">Update Profiie</button></div>
                </div>
            </div>

    </form>
    }

            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                    <dt>Phone Number:</dt>
                    <dd>
                        @(Model.PhoneNumber ?? "None")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                            }
                        }
                        else
                        {
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                        }
                    </dd>

                        <dt>Two-Factor Authentication:</dt>
                        <dd>
                            <p>
                                There are no two-factor authentication providers configured.See<a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support two-factor authentication.
                            </p>
                if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }*@


