@{
    ViewBag.Title = "Home Page";
}


<nav class="nav nav-tabs nav-fill">
    <a class="nav-item nav-link text-success active" href="#"><h3><span class="glyphicon glyphicon-home"></span>Products</h3></a>
    <a class="nav-item nav-link text-danger" href="@Url.Action("MyListings", "Manage")"><h3><span class="glyphicon glyphicon-leaf"></span>Orders</h3></a>
    <a class="nav-item nav-link text-info" href="@Url.Action("MyOrders", "Manage")"><h3><span class="glyphicon glyphicon-th-list"></span>Requests</h3></a>
    <a class="nav-item nav-link text-muted" href="#"><h3><span class="glyphicon glyphicon-envelope"></span> Messages</h3> </a>
</nav>
        <div class="card-deck">

            <row>
                <div class="card border-success mb-4">
                    <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Products/DefaultProduct.png")" alt="Card image cap" style="width:300px;height:180px">
                    <div class="card-body ">
                        <h5 class="card-title text-success">Products</h5>
                        <p class="card-text text-success" style="width:250px;height:50px">Add, Edit, or Delete products.</p>
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("Manage", "Index", "AdminProducts", new { @class = "btn btn-info btn-lg btn-block" }, null)
                    </div>
                </div>
            </row>
            <row>
                <div class="card border-success mb-4">
                    <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Sellers/DefaultSeller.png" )" alt="Card image cap" style="width:300px;height:180px">
                    <div class="card-body ">
                        <h5 class="card-title text-success">Sellers</h5>
                        <p class="card-text text-success" style="width:250px;height:50px">Add, Edit, or Delete Sellers.</p>
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("Manage", "Index", "AdminSellers", new { @class = "btn btn-info btn-lg" }, null)
                    </div>
                </div>
            </row>
            <row>
                <div class="card border-success mb-4">
                    <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Categories/CategoryDefault.png" )" alt="Card image cap" style="width:300px;height:180px">
                    <div class="card-body ">
                        <h5 class="card-title text-success">Categories</h5>
                        <p class="card-text text-success" style="width:250px;height:50px">Add, Edit, or Delete categories.</p>
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("Manage", "Index", "AdminCategories", new {  @class = "btn btn-info btn-lg" }, null)
                    </div>
                </div>
            </row>
            <row>
                <div class="card border-success mb-4">
                    <img class="card-img-top img-fluid" src="@Url.Content("~/Images/Categories/CardDefault.png" )" alt="Card image cap" style="width:300px;height:180px">
                    <div class="card-body ">
                        <h5 class="card-title text-success">Product Listings</h5>
                        <p class="card-text text-success" style="width:250px;height:50px">Add, Edit, or Delete products.</p>
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("Manage", "Index", "AdminListings", new { @class = "btn btn-info btn-lg" }, null)
                    </div>
                </div>
            </row>




       
    </div>
