@model IEnumerable<EthnoBot.Models.CartItem>
@{
    /**/

    ViewBag.Title = "Cart";
    int total = 0;
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center text-muted"><strong>View your Cart items:</strong></h3>
        </div>
    </div>
</div>
<br />
<hr />


<ul class="list-group text-info">
    <li class="list-group-item">
        <div class="row">
            <div class="col-xl-2 border border-bottom-0 border-top-0 border-left-0"><p class="text-dark"><strong>Product Name</strong></p></div>
            <div class="col-xl-2 border border-bottom-0 border-top-0 border-left-0"><p class="text-dark"><strong>Seller</strong></p></div>
            <div class="col-xl-2 border border-bottom-0 border-top-0 border-left-0">
                <p class="text-dark"><strong>Price per 1 kg</strong></p>
            </div>
            <div class="col-xl-1 border border-bottom-0 border-top-0 border-left-0">
                <p class="text-dark"><strong>No.  of Kg Units</strong></p>
            </div>
            <div class="col border border-bottom-0 border-top-0 border-left-0">
                <p class="text-dark"><strong>Total</strong></p>
            </div>
            <div class="col-xl-2 offset-xl-0 border border-bottom-0 border-top-0 border-left-0">
                <p></p>
            </div>
            <div class="col">
                <p></p>
            </div>
        </div>
    </li>
    @foreach (var item in Model)
    {
        total += (int)item.total;
        <li class="list-group-item">


            <div class="row">
                <div class="col-xl-2 border border-bottom-0 border-top-0 border-left-0">@Html.ActionLink(item.product.Title, "ProductAndListings", "Categories", new { id = item.product.ProductId }, new { @class = "text-info", })</div>
                <div class="col-xl-2 border border-bottom-0 border-top-0 border-left-0">@Html.ActionLink(item.Seller.Name, "SellerAndListings", "Categories", new { id = item.Seller.SellerId }, new { @class = "text-info", })</div>
                <div class="col-xl-2 border border-bottom-0 border-top-0 border-left-0">
                    <p class="text-muted">€@item.unitPrice per 1 kg</p>
                </div>
                <div class="col-xl-1 border border-bottom-0 border-top-0 border-left-0">
                    <p class="text-muted">@item.quantityKg Kg Units</p>
                </div>
                <div class="col border border-bottom-0 border-top-0 border-left-0">
                    <p>€@item.total<br /></p>
                </div>
                <div class="col-xl-2 offset-xl-0 border border-bottom-0 border-top-0 border-left-0 align-self-center"><button class="btn btn-info" type="button" data-toggle="modal" onclick="editItemPopup('@item.Seller.SellerId','@item.Seller.Name','@item.unitPrice','@item.product.ProductId','@item.product.Title','@item.quantityKg')" data-target="#Modal">Edit Item</button></div>
                <div class="col"><button class="btn btn-info align-self-center" type="button" onclick="deleteItem('@item.Seller.SellerId','@item.Seller.Name','@item.unitPrice','@item.product.ProductId','@item.product.Title','@item.quantityKg')" data-target="#Modal">Delete</button></div>
            </div>

        </li>
    }
</ul>
<hr />
<h4 class="text-right text-muted">Subtotal: <b>€@total</b></h4>


@Html.ActionLink("Checkout", "PaymentWithPaypal", "Cart", null, new { type = "button", @class = "btn btn-info" })


<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add selected items to cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="Modal-ProductID"></p>
                <p id="Modal-Product"></p>
                <p id="Modal-Seller"></p>
                <p id="Modal-Price"></p>
                <div class="input-group mb-3">
                    <input type="number" id="KGUnits" class="form-control" min="1" max="100" aria-label="KGUnits" aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"> kgs</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                <button type="button" id="SaveChanges" class="btn btn-secondary">Save Changes</button>
            </div>
        </div>
    </div>
</div>








<script type="text/javascript">
    var SellerID = "";
    var productID = "";
    var unitPrice = "";
    var quantity = "";

    function editItemPopup(SellerId, SellerName, price, productId, productName, oldquantity) {

        productID = productId;
        SellerID = SellerId;
        unitPrice = price;
        quantity = oldquantity;
        document.getElementById("Modal-Seller").innerText = "Product Name: " + productName;
        document.getElementById("Modal-Seller").innerText = "Seller Name: " + SellerName;


        document.getElementById("Modal-Price").innerText = "Price per 1kg: " + price;
        document.getElementById("KGUnits").setAttribute("placeholder",oldquantity);

    }
    function deleteItem(SellerId, SellerName, price, productId, productName, quantity) {
       location.href = '@Url.Action("RemoveFromBasket", "Cart")?SellerId=' + SellerId + '&productId=' + productId + '&quantity=' + quantity;

    }


    (function () {
        document.getElementById("SaveChanges").onclick = function () {
          var  newQuantity = document.getElementById("KGUnits").value

            location.href = '@Url.Action("EditItem", "Cart")?SellerId=' + SellerID + '&productId=' + productID + '&oldQuantity=' + quantity + "&newQuantity=" + newQuantity;

        };
    })();
</script>




